.square-box {
    width: 468px;
    height: 160px;
    background-color: orange;
    display: flex;
    gap: 20px;
    justify-content: center;
align-items: center;
padding: 10px;
box-sizing: border-box;
}

.square-box--one {
    align-items: flex-end;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;

}

.square-box--two {
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    
    
}

.square-box--two .square-box__item {
    width: 78px;
    height: 120px;
    justify-content: center;
}


.square-box--three {
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px;
    
    
}


.square-box--four {
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;}


.square-box--four .square-box__item--third {
    align-self: flex-end;
}

.square-box--five {
    align-items: center;
    justify-content: space-evenly; Alright, okay, how we're gonna move on with the what do you call that the codex thing, Fatima? What do you say okay so just for you to understand what is actually is the Figma I'm going to show now is this the first example of a game shop or where were we at like a card thing yeah but how should we so should we just really get the overview should we now decide which person is responsible for each page or how do we go on from here what I mean by that isI will probably need still I mean need feedback all along the way because I think Danny you're thinking in one way because you have a lot of experience for me I'm starting from a very basic view and then working my way up and then we can kind of get it from there what's say you around how do you feel like attacking this assignment no I just feel that it might be a good thing to start with one page and then we can like I said either if we do a new meeting tomorrow or in two days to just see where we add no pressure just coming up with ideas for each page that that's the way I think but can be just a suggestion no no I agree I agree yeah but if she's gonna try with what what do we call that the product page is sorry lightning page yeah so which pages do we have left then sorry again which one do you all feel like trying I mean as a start that we can just compete no worries no worries nors okay around I'm gonna write say one more time landing page is number one and secondslash product yeah and the third one is gallery yeah and then construct us yeah sorry I cannot find it's why I'm a bit oh thank you thank you there we go okay so yeah but but if she wanted to try the landing page might correct mm no but are you feeling confident in doing the about us or producting that is to a start once we get yeah sure I mean once we get the the figma for it there we go and okay array on gallery or contact us consider being template over the maybe like the overall feeling of a certain page if that is if that makes sense yeah I'm just thinking it would be nice if we can just start with having some kind of draft what we meet again but but oh yeah understand we will do our best thank you but yeah okay i i don't mind trying out the gallery thing just as the first draft is that okay yeah so again for me this is just a way of starting and then probably it will work maybe all four of us and all pay I've been helping out each other and but just to have start to to give some kind of presentation when we meet the next time great you're a fire hour you mean how to get your you guys access you were say well understand well then the answer is no sure understand understand oh so yeah I appreciate that so are you saying that we should not start working in a new project before we do that i i did that i was just curious if we if we can start like she said doing a draft but bore we must do the main repo thing first is that too general sure why not i mean as long as we are aligned stuff and i think that is reasonable thing 'cause it should all should be very logical due to what we're doing yeah mine if you want to give it a trying no problem yeah sure you get to sleep inhmm assignment yeah correct is that too early for you Dennis or but what but how about what one pm is that okay for you what about you or real cheap alright or she was later I can sorry at four I must run off my day pick up kits and stuff okay no sorry for me thank you great no worries great but then we know you will set up when you can't in this and we'll take a look at it tomorrow. Thank you so much youtube thanks I told up team members told off really than I expected everything so this will be in a single if it works in a site yeah Jacks kind of set up the main house that we're going to work on and we have inside different pages each month each person has one page and we're going to come up with some ideas based on an overall design that's on forms yeah okay tomorrow we're going to eleven am tomorrow that was the only time that we all force now you know that Nigeria I told you she's a day I cannot really re something she thinks she's a five I have been very friendly and I have been very patient but I can read people something I'm not always right but I can feel something so like we get these reports on Mondays you know like shit was managers are supposed to review them and see what went wrong so one of the biggest was actually a p Now I don't want to go in micromanage I want to give them the authority to to review and get back to me so on was for Daniel and one was for her so my question was only purely hey, hadn't I said I saw that you requested me for December and I said give me some time and I need it give me some time to just review the capacity and then I did basic I showed a bit smiling days more and I'm treating my managers because a lot of people are taking me for the Christmas so I can't just approve that number one then I said okay about this could you to me a research review and maybe tell me what you can went wrong here or what can we do better they could reply to me okay first of all she don't even say and do okay for reviewing my request okay and you don't only a recop but I'm doing my best here to give you what you want okay never mind that the response so sharp like there is no batch with you for this ticket so I don't understand what it's wrong but do you want exactly like pretty much so I responded most fightingly I just said there is no bad review but I saw there's an escalation threat for this so I gave up to me I said I just want to be very clear on something whenever I ask you something it's not me penalizing you me giving you what chance to reduce your own work and to get back to me on your thoughts because maybe I overdo something or I made something and I want to give you that ownership you do not have to take it so personally interesting to say it's a person that's a good one I can fight until it right bite just because I'm a single to do a test using the remote AI to create a or see discussed in our last re wanted to make a mental health policy for employee in Germany and asked me some questions and then I answered how I wanted to be set up. Then it said that okay it's it's not able to publish it it's in draft status for me and you can tell me if I'm looking in the wrong place so I log in as this moment this daddy of it was already and I wanted to create for the employee space in Germany I went to the so this is organ as the admin profound bag and there are a way to company settings I went to all the slI don't see anything here and even when I asked it you said you put it in drop where can I find this new policies? It says I don't have the executive part on where this appears so I don't want to guess and say you the wrong thing what I can tell you at least in your company's type of new policy settings isn't it here or am I wrong sorry but I do not see this yeah well I guess my first feedback is if if this is a bit confusing to finally also won't be so easy for clients number one and number two if this is really a place but very start so this is my questions ya so this is my testing results for results have a nice day job
    padding: 20px;
}
.square-box--five .square-box__item--first,
.square-box--five .square-box__item--third {
height: 120px;
}

.square-box--six .square-box__item--middle {
height:78px;
width:156px;
}
.square-box__item {
    width: 78px;
    height: 78px;
    background-color: darkred;
    align-items: down;
}

section {
    display: flex;
    width: 1152px;
    height: 700px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 20px;
    min-height: 100vh;
    gap: 20px;
    background-color: #370617;
}

